#Directories
frontend

# Python cache files
__pycache__/
*.py[cod]

# Django migrations
migrations
*/migrations/*.py
*/migrations/*.pyc

# Database files
db.sqlite3

# Static files
/static/
media/

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.swp